[build]
  base = "career.chenggao.top/"
  command = "npm run build"
  publish = "career.chenggao.top/"

[build.environment]
  NODE_VERSION = "18"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200